<div id="loading">
<p>Loading...</p>
</div>

<div id="container" style="display: none">

  <div id="xylo-container">
  </div>
  
  <div id="program-container">
    <div id="program"></div>
  </div>
  
  <div id="palette-container">
    <div id="palette-subcontainer">
      <h2>Command Palette</h2>
      <p>Use by dragging to the left.</p>
      <p>Search: <input type="search" /></p>
      <button>Find Random Code Bubbles</button>
      <div id="palette"></div>
      <div id="coming-up">
        <p class="expander">Tom's TODO</p>
        <div class="content"><%= render :partial => "todo" %></div>
      </div>
    </div>
  </div>

  <div id="bottom-toolbar">
    <p>You are not logged in. <button id="login-button">Log In</button></p>
    <p>
      <button id="theme-switcher">Switch Theme</button>
      <button id="bubble-adder">(+) Create New Code Bubble</button>
    </p>
  </div>
</div>

<% if @new_user %>
<div id="welcome">
  <div id="welcome-background" style="background-color: black; opacity: 0.9; position: fixed; top: 0; right: 0; bottom: 0; left: 0"></div>
  <div style="position: fixed; left: 20%; right: 20%; top: 10%">
    <div id="welcome-message" style="border: 40px solid black; padding: 2em; background: white; text-align: center">
      <h1>Welcome, new user!</h1>
      <p>You can do anything, but to get it back later, you'll need to <button>sign up.</button></p>
      <p>Otherwise, <button>continue!</button></p>
    </div>
  </div>
</div>
<% end %>
