<div id="loading">
<p>Loading lots of Javascript (sorry)...</p>
</div>

<script type="text/javascript">
$(function() {
  var patternsJSON = <%= Pattern.all.to_json.html_safe %>
  _.each(patternsJSON, function(json) {
    try {
      Patterns.add(json)
    } catch(e) {
      console.log("failed to add pattern", json)
    }
  })
})
</script>


<div id="container" style="display: none">
  
  <div id="program-container">
    <div id="program"></div>
  </div>
  
  <div id="sidebar">
    <ul id="sidebar-tabs">
      <li><a href="#palette-tab">Command Palette</a></li>
      <li><a href="#activity-tab">Recent Activity</a></li>
      <!-- <hr /> -->
    </ul>
    <div id="palette-tab">
      <div><label for="search">Search for Commands:</label> <input type="search" id="search" /></div>
      <!-- <button>Find Random Code Bubbles</button> -->
      <div id="palette"></div>
    </div>
    <div id="activity-tab">
      <div id="activity"></div>
    </div>
  </div>
  
  <div id="hud-container">
    <div id="hud">
      <table class="title">
        <tr>
          <td class="description">
            <div>
              <h2>Current Task: <select></select></h2>
            </div>
            <div class="description"></div>
          </td>
        </tr>
      </table>
      <table class="example-text">
        <tr>
          <td class="input">
            <div>Example Input:</div>
            <div class="input-placeholder"></div>
          </td>
          <td class="output">
            <div>Example Output:</div>
            <div class="output-placeholder"></div>
          </td>
        </tr>
      </table>
      <table class="text">
        <tr>
          <td class="input">
            <div>Your Input:</div>
            <div class="input-placeholder"></div>
            <div><button>Restore Example Input</button></div>
          </td>
          <td class="output">
            <div>Your Output:</div>
            <div class="output-placeholder"></div>
            <div><button>Clear Output</button></div>
          </td>
        </tr>
      </table>
      <div class="solution">Your Solution: </div>
    </div>
  </div>
  
  <div id="canvas-container">
    <div class="search"><label for="search-canvas">Search for Commands:</label> <input type="search" id="search-canvas" /></div>
    <div id="canvas">
    </div>
  </div>
  
</div>

<% if @new_user %>
<div id="welcome">
  <div id="welcome-background" style="background-color: black; opacity: 0.9; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000" onclick="document.getElementById('welcome').style.display = 'none'"></div>
  <div id="welcome-message-container" style="position: fixed; left: 20%; right: 20%; top: 10%; z-index: 1001">
    <div id="welcome-message" style="border: 40px solid black; padding: 2em; background: white; text-align: center">
      <h1>Welcome, new user!</h1>
      <p>Useful first-time information goes here!</p>
      <p><button onclick="document.getElementById('welcome').style.display = 'none'">Continue!</button></p>
    </div>
  </div>
</div>
<% end %>
