<div id="container" style="display: none">

  <div id="program-container">
    <div id="program"></div>
  </div>
  
  <div id="palette-container">
    <div id="palette-subcontainer">
      <h2>Command Palette</h2>
      <p><button id="bubble-adder">Create New Code Bubble</button></p>
      <p>Use by dragging to the left.</p>
      <div id="palette"></div>
    </div>
  </div>

  <div id="bottom-toolbar">
    <button id="theme-switcher">Switch Theme</button>
  </div>
</div>

<div id="loading">
<p>Loading...</p>
</div>
