/*
 *= require_tree ./canvas
 */


/*
 * TODO LIST (why is this here? haha!)
 * hallucinate a containing command around commands on the canvas
 * display multislots with nothing in them differently than single slots
 * drag the loop from one while into the loop of another while
 * color according to nesting level
 * allow creation of commands by right-click... 'solidifies' the line as a sentence
 * recommend abstraction according to nesting level
 * dragging onto a closed block should open it?
 */


body {
  background: white url(/assets/grid.jpg);
  font-family: "Helvetica Neue", sans-serif;
  padding: 0 0 0 35%;
  margin: 0 16px 0 0;
}

#loading {
  position: absolute;
  left: 40px;
  top: 40px;
}


/* BUBBLES */

div.bubble {
  display: inline-block;
  font-size: 16px;
  line-height: 29px;
  vertical-align: middle;
  background: white;
  border: 1px solid #bbb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 4px 2px;
  color: black;
  box-shadow: 1px 1px 1px #aaa;
}
div.bubble.editing {
  background: #eef;
  border: 1px solid #fcc;
  box-shadow: 3px 3px 7px #999;
}
div.bubble.active {
  background: #eef;
  box-shadow: 3px 3px 7px #0f0;
}
div.bubble div.representation {
  padding: 4px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: pointer;
  white-space: pre;
  min-height: 1em;
}
div.bubble div.representation.editing {
  background: #ccf;
  box-shadow: 1px 1px 3px #000;
}
div.bubble div.representation button.reword {
  display: none;
}
div.bubble div.representation.editing button.reword {
  display: inline;
}
/*
unfortunately these don't play nice with nesting
div.bubble div.representation:hover {
  background: #ccf;
}
div.bubble div.representation.editing:hover {
  background: #bbe;
}
*/
div.bubble div.meaning {
  color: black;
  display: none;
  padding: 8px;
  /*border-top: 3px solid black;*/
}
div.bubble div.meaning p.stats {
  margin: 0;
  padding: 0;
  font-size: 14px;
  position: relative;
  top: 8px;
}
div.bubble div.meaning textarea {
  display: block;
  overflow: auto;
  width: 400px;
  height: 72px; /* 4px top/bottom padding in my browser */
  font-size: 13px;
  line-height: 16px;
}
span.whitespace {
  color: #999;
}


/* REFERENCE BUBBLES */

div.bubble.reference {
  display: inline;
  padding: 3px 0;
  background: #dfd;
  border: 2px solid #9b9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
div.bubble.reference div.representation {
  display: inline;
  background: transparent;
}


/* SLOTS */

span.slot {
  cursor: hand;
}
span.slot.unfilled {
  padding: 3px;
  background: #fcc;
  border: 2px solid #caa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: text;
}
.drag-in-progress span.slot.unfilled {
  background: #fdd;
  border-color: #b99;
  border-style: dashed;
}
.drag-in-progress span.slot.drag-hover {
  background: black;
  color: white;
}


/* MULTI-SLOTS */

ul.multislot {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: baseline;
}
ul.multislot li {
  list-style-type: none;
}
ul.multislot li.content {
  padding: 0;
  margin: 0;
}
ul.multislot li.inbetweener {
  width: 100%;
  height: 3px;
  position: relative;
  cursor: hand;
}
ul.multislot li.inbetweener .insert {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8.5px;
  left: -20px;
  display: none;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 18px;
  background: #66f;
  color: white;
}
ul.multislot li.inbetweener.drag-hover,
ul.multislot li.inbetweener.hover {
  background: #66f;
}
ul.multislot li.inbetweener.not-editing:hover,
ul.multislot li.inbetweener.not-editing:hover .insert {
  color: white;
  background: #006;
}


/* AUTOCOMPLETE */

.ui-autocomplete {
  display: inline-block;
  -webkit-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #AAA;
  background: white;
  color: #222;
  z-index: 1 !important;
}
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .1em .2em;
  line-height: 1.5;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin-left: -1px;
  background: black;
  color: white;
}
.ui-menu .ui-menu-item a.ui-state-hover .expression,
.ui-menu .ui-menu-item a.ui-state-active .expression {
  color: black; /* stay black */
}
.ui-autocomplete p.author {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: small;
  font-variant: small-caps;
}


/* PALETTE */

#palette-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 35%;
  background: #fcfef5;
  box-shadow: 0px 0px 10px #aaa;
  overflow: auto;
}
#palette-subcontainer {
  margin: 1em;
}
#palette .more {
  display: inline-block;
  margin-top: 6px;
  margin-left: 12px;
}


/* CANVAS */

#canvas {
  position: relative;
  min-width: 800px;
  min-height: 800px;
  padding: 20px;
}


/* TRASH CAN */

div.trash {
  width: 131px;
  height: 132px;
  margin: 15px 5px 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  background: url(/assets/trash-empty.png) no-repeat;
  opacity: 0.3;
}
.no-drag-in-progress div.trash {
}
.drag-in-progress div.trash {
  opacity: 0.8;
}
.drag-in-progress div.trash.hover {
  background: url(/assets/trash-full.png) no-repeat;
  opacity: 1;
}


/* BULKY TABLES */

table.debugger {
  border: outset 5pt;
  border-collapse: separate;
  border-spacing: 5px;
}
table.debugger td {
  vertical-align: bottom;
  border: inset 5pt;
  padding: 4px;
}


/* HUD */

#hud {
  border: outset 5px;
  background: white;
  width: 100%;
  overflow: auto;
}
#hud p {
  margin: 0;
}
#hud table.title {
  width: 100%;
  border-spacing: 8px;
}
#hud table.title td.description {
  vertical-align: middle;
}
#hud table.title td.description div.description {
  margin-top: 9px;
}
#hud table.title td.prev {
  width: 110px;
}
#hud table.title td.next {
  width: 270px;
}
#hud table.title td.next {
  text-align: right;
}
#hud .solution {
  padding: 6px;
}
#hud .solution span.slot.unfilled {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#hud table.example-text {
  width: 100%;
}
#hud table.example-text td {
  width: 50%;
  margin: 0 10px;
  border: inset 4px;
  vertical-align: top;
  padding: 8px;
}
#hud table.example-text .happy-text {
  min-height: 20px;
}

#hud table.text {
  width: 100%;
  /*border-spacing: 5px;*/
}
#hud table.text td {
  width: 50%;
  margin: 0 10px;
  border: inset 4px;
  vertical-align: top;
  padding: 8px;
}
#hud table.text .happy-text {
  min-height: 20px;
  border: 1px solid black;
  padding: 4px;
}

/*
#hud table.task td {
  padding: 8px;
}
#hud table.task td.prev, #hud td.next {
  min-width: 100px;
}
#hud table.task td.description {
  width: 100%;
}
#hud table.task td.input, #hud td.output {
  border: inset 4px;
  vertical-align: top;
}
#hud table.task textarea {
  width: 100%;
}
#hud table.examples {
  display: inline-block;
  vertical-align: top;
}
#hud table.examples td {
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  width: 16px;
  height: 16px;
}
*/
#hud table.examples td.success {
  /*background: #a5f0a5;*/
}
#hud table.examples td.failure {
  /*background: #ffb0b0;*/
}
#hud table.examples td.in-progress {
  /*background: #ffefb0;*/
}


/* HAPPY TEXT */

div.happy-text {
  overflow: auto;
}
div.happy-text span.text {
  white-space: pre;
  /*background-color: #edfac8;*/
  font-family: monospace, "Arial Unicode MS";
}
div.happy-text span.cursor {
  display: inline-block;
  width: 2px;
  margin: 0 1px;
  height: 24px;
  vertical-align: middle;
  background: red;
}


/* TEMPLATE EDITOR */

.template-editor-container .background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.5;
}
.template-editor-container .template-editor {
  overflow: auto;
  position: fixed;
  top: 20px;
  bottom: 20px;
  width: 400px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 40px #000;
}
.template-editor-container .template-editor h2 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.template-editor-container .template-editor h3 {
  font-size: 18px;
  margin: 20px 0 0;
  padding: 0;
}
.template-editor-container .template-editor textarea {
  width: 100%;
  height: 3em;
}
.template-editor-container .template-editor table {
  width: 100%;
}
.template-editor-container .template-editor table th,
.template-editor-container .template-editor table th {
  text-align: left;
}
.template-editor-container .template-editor .errors {
  color: red;
  font-size: 14px;
  margin-bottom: 4px;
}
.template-editor-container .template-editor .buttons {
  margin-top: 20px;
}
.template-editor-container .template-editor .buttons button {
  margin-right: 20px;
}
